Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-JWT-Extended==4.6.0
Flask-CORS==5.0.0
PyMySQL==1.1.1
python-dotenv==1.0.1
scikit-learn==1.5.2
pandas==2.2.3
shap==0.51.0
numpy==2.3.3
reportlab==4.0.0
openpyxl==3.1.2